@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --green: #9c2c77;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  /* direction: rtl; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.btn {
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  direction: rtl;
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--green);
}
header .navbar {
}
header .navbar a {
  font-size: 1.9rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
  font-weight: 400;
  font-family: system-ui;
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--green);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

#search-form #search-box::placeholder {
  color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: var(--green);
}

#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

/* =========== container ============== */
.container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
    /* display: flex;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.container .back {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}
.container .back .img {
  width: 600px;
}
.container .back .img img {
  width: 100%;
}
.text1 {
  font-size: 2.7rem;
  direction: rtl;
  margin: bottom 2rem;
}
.text1 h3 {
    color: rgb(4, 3, 0);

    /* font-size: 3rem;
    /* width:  490px; 
    border-left: 4px rgba(255, 221, 0, 0.712) solid;
    overflow: hidden;
    white-space: nowrap;
    /* animation: control-width 3s 2s steps(28) both,link .5s infinite;
    margin-bottom: 100px; */
}
.text2{
  
}
.text2 a {
  padding: 1.7rem 1rem;
  margin: 0.5rem;
  background-color: var(--green);
  border: solid 1px rgb(255, 255, 255);
  color: white;
  margin: 10px;
  border-radius: 6px;
}
.text2 a:hover {
  background-color: #a10c6f;
  border: solid 3px rgb(243, 153, 9);
}
/* =========== container ============== */

/*  =============== section2 =============== */
.section2 {
  width: 100%;
  height: auto;
  background-color: #eee;
  padding: 3rem;
  direction: rtl;
  margin-top: 5rem;
}
.section2 .tite1 {
  text-align: center;
  font-size: 3.3rem;
  color: var(--green);
}
.section2 .box-cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.section2 .box-cards .card {
  width: 383px;
  height: 431px;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  margin: 1.6rem;
}
.section2 .box-cards .card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #9c2c77;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(224, 22, 96);
}
.section2 .box-cards .card p:hover {
  color: rgb(25, 18, 18);
}
.section2 .box-cards .card .img {
  width: 100%;
  height: 60%;
  margin: 0 auto;
}
.section2 .box-cards .card img {
  width: 100%;
  height: 100%;
}
.section2 .box-cards .card .start {
  padding: 1rem;
}
.section2 .box-cards .card .start .fa-star {
  font-size: 1.5rem;
  color: var(--green);
}

.section2 .box-cards .card span {
  font-size: 2.5rem;
  color: #000;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  padding: 0.6rem 1rem;
}
.section2 .box-cards .card p {
  font-size: 1.3rem;
  color: rgb(50, 47, 47);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 0.6rem;
}

.section2 .box-cards .card .num {
  padding: 10px;
  font-size: 1.9rem;
  font-weight: 200;
  color: rgb(165, 0, 0);
  /* font-weight: bold; */
}
.section2 .box-cards .card a {
  margin: 10px;
}
.section2 .box-cards .card .buy {
  text-align: center;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 200;
}
/*  =============== section2 =============== */

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  direction: rtl;
}

.footer .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.footer .box-container .box a:hover {
  color: var(--green);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  direction: rtl;
}

.footer .credit span {
  color: var(--green);
}
/* 
.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}












 */

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

.text2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }

  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }

  .home .home-slider .slide .content h3 {
    font-size: 5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .text1 h3 {
    font-size: 2rem;
  }

  .dishes .box-container .box img {
    height: auto;
    width: 100%;
  }

  .order form .inputBox .input {
    width: 100%;
  }
}
